<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	
	
	<bean id="MemberOrders.list" class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/_027_Order/MemberOrdersList.jsp"></property>
	</bean>
	<bean id="OrdersItemPage.list" class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/_027_Order/OrdersItemPage.jsp"></property>
	</bean>
	<bean id="product.index" class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/_027_DaytourProduct/TestDisplayAll.jsp"></property>
	</bean>
	
	<bean id="product.management" class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/_027_DaytourProduct/ManageProduct.jsp"></property>
	</bean>
	<bean id="product.report" class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/_027_DaytourProduct/ProductReport.jsp"></property>
	</bean>
	
	<bean id="partner.login" class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/_027_Partner/PartnerLogin.jsp"></property>
	</bean>
	
	<bean id="product.select" class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/_027_DaytourProduct/ProductDisplay.jsp"></property>
	</bean>
	<bean id="product.tickettype" class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/_027_DaytourProduct/DateAndTicket.jsp"></property>
	</bean>

	<bean id="login.error" class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/secure/login.jsp"></property>
	</bean>
	
	<bean id="order.form" class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/_027_Order/orderForm.jsp"></property>
	</bean>

	<bean id="login.success" class="org.springframework.web.servlet.view.RedirectView">
		<property name="url" value="/index.jsp"></property>	
		<property name="contextRelative" value="true"></property>
	</bean>
	
	<bean id="form.success" class="org.springframework.web.servlet.view.RedirectView">
		<property name="url" value="/WebIndex18/search18.jsp"></property>	
		<property name="contextRelative" value="true"></property>
	</bean>
	
</beans>
